@model fligthrender.ViewModels.SearchPlanesManufacturer

<h1>Planes</h1>
@if (Model.Planes == null || !Model.Planes.Any())
{
    <p>Совпадений не найдено.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PlaneInfo.Model)</th>
                <th>@Html.DisplayNameFor(model => model.PlaneInfo.Speed)</th>
                <th>@Html.DisplayNameFor(model => model.PlaneInfo.Weight)</th>
                <th>@Html.DisplayNameFor(model => model.PlaneInfo.Price)</th>
                <th>@Html.DisplayNameFor(model => model.PlaneInfo.Year)</th>
                <th>@Html.DisplayNameFor(model => model.PlaneInfo.Brand)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Planes)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.Speed)</td>
                    <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@Html.DisplayFor(modelItem => item.Brand.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Planes" asp-route-id="@item.PlaneId">Edit</a> |
                        <a asp-action="Details" asp-controller="Planes" asp-route-id="@item.PlaneId">Details</a> |
                        <a asp-action="Delete" asp-controller="Planes" asp-route-id="@item.PlaneId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h1>Manufacturer</h1>
@if (Model.Manufacturers == null || !Model.Manufacturers.Any())
{
    <p>Совпадений не найдено.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ManufacturerInfo.Name)</th>
                <th>@Html.DisplayNameFor(model => model.ManufacturerInfo.Description)</th>
                <th>@Html.DisplayNameFor(model => model.ManufacturerInfo.Address)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Manufacturers)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Manufacturers" asp-route-id="@item.BrandId">Edit</a> |
                        <a asp-action="Details" asp-controller="Manufacturers" asp-route-id="@item.BrandId">Details</a> |
                        <a asp-action="Delete" asp-controller="Manufacturers" asp-route-id="@item.BrandId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}