@model fligthrender.ViewModels.SearchPlanesManufacturer

<div class="container tm-mt-big">

    <!-- Блок с самолётами -->
    <div class="tm-block tm-block-products">
        <h1 class="tm-block-title text-center">Planes</h1>

        @if (Model.Planes == null || !Model.Planes.Any())
        {
            <p class="tm-small text-center">Совпадений не найдено.</p>
        }
        else
        {
            <div class="tm-product-table-container">
                <table class="table table-hover tm-product-table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PlaneInfo.Model)</th>
                            <th>@Html.DisplayNameFor(model => model.PlaneInfo.Speed)</th>
                            <th>@Html.DisplayNameFor(model => model.PlaneInfo.Weight)</th>
                            <th>@Html.DisplayNameFor(model => model.PlaneInfo.Price)</th>
                            <th>@Html.DisplayNameFor(model => model.PlaneInfo.Year)</th>
                            <th>@Html.DisplayNameFor(model => model.PlaneInfo.Brand)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Planes)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.Speed)</td>
                                <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                                <td>@Html.DisplayFor(modelItem => item.Brand.Name)</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Planes" asp-route-id="@item.PlaneId" class="tm-notification-link">Edit</a> |
                                    <a asp-action="Details" asp-controller="Planes" asp-route-id="@item.PlaneId" class="tm-notification-link">Details</a> |
                                    <a asp-action="Delete" asp-controller="Planes" asp-route-id="@item.PlaneId" class="tm-notification-link">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <!-- Блок с производителями -->
    <div class="tm-block tm-block-product-categories tm-mt-big">
        <h1 class="tm-block-title text-center">Manufacturer</h1>

        @if (Model.Manufacturers == null || !Model.Manufacturers.Any())
        {
            <p class="tm-small text-center">Совпадений не найдено.</p>
        }
        else
        {
            <div class="tm-product-table-container">
                <table class="table table-hover tm-product-table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ManufacturerInfo.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.ManufacturerInfo.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.ManufacturerInfo.Address)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Manufacturers)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Manufacturers" asp-route-id="@item.BrandId" class="tm-notification-link">Edit</a> |
                                    <a asp-action="Details" asp-controller="Manufacturers" asp-route-id="@item.BrandId" class="tm-notification-link">Details</a> |
                                    <a asp-action="Delete" asp-controller="Manufacturers" asp-route-id="@item.BrandId" class="tm-notification-link">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
